﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Admin.master.cs" Inherits="Proyeco1_IPC2_.Admin" %>

<!DOCTYPE html>


<html lang="es">
<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VISTA SUPERVISOR</title>

    <asp:PlaceHolder runat="server">
        <%: Scripts.Render("~/bundles/modernizr") %>
    </asp:PlaceHolder>

    <webopt:BundleReference runat="server" Path="~/Content/css" />
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <!-- Ionicons -->
    <link href="css/ionicons.min.css" rel="stylesheet" type="text/css" />
    <link href="css/AdminLTE.css" rel="stylesheet" type="text/css" />
    <link href="jAlert/jquery.alerts.css" rel="stylesheet" type="text/css" />

    <link href="css/datatables/dataTables.bootstrap.css" rel="stylesheet" />
    <style>
        html, body {
            min-height: 100%;
            padding: 0;
            margin: 0;
            font-family: 'Source Sans Pro', "Helvetica Neue", Helvetica, Arial, sans-serif;
        }

        iframe {
            display: block;
            overflow: auto;
            border: 0;
            margin: 0;
            padding: 0;
            margin: 0 auto;
        }

        .frame {
            height: 49px;
            margin: 0;
            padding: 0;
            border-bottom: 1px solid #ddd;
        }

            .frame a {
                color: #666;
            }

                .frame a:hover {
                    color: #222;
                }

            .frame .buttons a {
                height: 49px;
                line-height: 49px;
                display: inline-block;
                text-align: center;
                width: 50px;
                border-left: 1px solid #ddd;
            }

            .frame .brand {
                color: #444;
                font-size: 20px;
                line-height: 49px;
                display: inline-block;
                padding-left: 10px;
            }

                .frame .brand small {
                    font-size: 14px;
                }

        a, a:hover {
            text-decoration: none;
        }

        .container-fluid {
            padding: 0;
            margin: 0;
        }

        .text-muted {
            color: #999;
        }

        .ad {
            text-align: center;
            position: fixed;
            bottom: 0;
            left: 0;
            background: #222;
            background: rgba(0,0,0,0.8);
            width: 100%;
            color: #fff;
            display: none;
        }

        #close-ad {
            float: left;
            margin-left: 10px;
            margin-top: 10px;
            cursor: pointer;
        }

        #close {
            cursor: pointer;
        }

        #no-cursor {
            cursor: none;
        }
    </style>

</head>
<body class="skin-black">

    <header class="header">
        <!-- CABECERA-->
        <a href="#" class="logo">Administrador</a>
        <nav class="navbar navbar-static-top" role="navigation">
            <a href="#" class="navbar-btn sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <!-- FIN CABECERA-->
            </a>
        </nav>
    </header>

    <div class="wrapper row-offcanvas row-offcanvas-left">
        <aside class="left-side sidebar-offcanvas">
            <section class="sidebar">
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="img/adm.png" class="img-circle" alt="User Image" />
                    </div>
                    <div class="pull-left info">
                        <!--CONECTAR CON BASE PARA QUE APAREZCA USUARIO-->
                        <p>ADMINISTRADOR</p>
                    </div>
                </div>
                <ul class="sidebar-menu">
                    <li class="active">
                        <!--ME LLEVARA A ADMINISTRAR EMPLEADOS-->
                        <a href="AdminEmpleados.aspx">
                            <i class="glyphicon-star"></i>
                            <span>Administrar Empleados</span>
                        </a>
                    </li>
                    <li>
                        <!--ME LLEVARA A REGISTRO EMPLEADOS-->
                        <a href="AdminRegistro.aspx">
                            <i class="fa fa-th"></i>
                            <span>Registrar Empleado</span>
                        </a>
                    </li>
                    <li>
                        <!--ME LLEVARA A CONTROL VEHICULOS-->
                        <a href="AdminVehiculo.aspx">
                            <i class="fa-star"></i>
                            <span>Administrar Vehiculos</span>
                        </a>
                    </li>
                    <li>
                        <!--ME LLEVARA A DEFINIR METAS PARA LOS VENDEDORES-->
                        <a href="AdminMetas.aspx">
                            <i class="fa fa-th"></i>
                            <span>Administrar Metas</span>
                        </a>
                    </li>
                    <li>
                        <!--ME LLEVARA A DEFINIR LOS ROLES-->
                        <a href="AdminRoles.aspx">
                            <i class="fa fa-th"></i>
                            <span>Control de roles</span>
                        </a>
                    </li>
                    <li>
                        <!--ME LLEVARA A DEFINIR LOS ROLES-->
                        <a href="AdminGestiones.aspx">
                            <i class="fa fa-th"></i>
                            <span>Gestiones Generales</span>
                        </a>
                    </li>
                    <li>
                        <!--CERRARA SESION-->
                        <a href="WebForm1.aspx">
                            <i class="fa fa-th"></i>
                            <span>Cerrar Sesión</span>
                        </a>
                    </li>
                </ul>
            </section>
        </aside>
        <aside class="right-side">

            <section class="content-header">
                <!--Aqui se puede mostrar el titulo-->
                <h1>
                    <asp:Label ID="lblOpcionMenu" runat="server" Text="Panel personal"></asp:Label>
                </h1>
            </section>
            <section class="content">
                <form id="form1" runat="server">
                    <asp:ScriptManager runat="server">
                        <Scripts>
                            <%--To learn more about bundling scripts in ScriptManager see https://go.microsoft.com/fwlink/?LinkID=301884 --%>
                            <%--Framework Scripts--%>
                            <asp:ScriptReference Name="MsAjaxBundle" />
                            <asp:ScriptReference Name="jquery" />
                            <asp:ScriptReference Name="bootstrap" />
                            <asp:ScriptReference Name="WebForms.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebForms.js" />
                            <asp:ScriptReference Name="WebUIValidation.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebUIValidation.js" />
                            <asp:ScriptReference Name="MenuStandards.js" Assembly="System.Web" Path="~/Scripts/WebForms/MenuStandards.js" />
                            <asp:ScriptReference Name="GridView.js" Assembly="System.Web" Path="~/Scripts/WebForms/GridView.js" />
                            <asp:ScriptReference Name="DetailsView.js" Assembly="System.Web" Path="~/Scripts/WebForms/DetailsView.js" />
                            <asp:ScriptReference Name="TreeView.js" Assembly="System.Web" Path="~/Scripts/WebForms/TreeView.js" />
                            <asp:ScriptReference Name="WebParts.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebParts.js" />
                            <asp:ScriptReference Name="Focus.js" Assembly="System.Web" Path="~/Scripts/WebForms/Focus.js" />
                            <asp:ScriptReference Name="WebFormsBundle" />
                            <%--Site Scripts--%>
                        </Scripts>
                    </asp:ScriptManager>
                    <div>
                        <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                            <!--DISEÑO DE LA PAGINA HEREDADA-->
                        </asp:ContentPlaceHolder>
                    </div>
                </form>
            </section>
        </aside>
    </div>
    
    <script src="js/jquery.min.js" type="text/javascript"></script>
    <script src="js/bootstrap.min.js" type="text/javascript"></script>
    <script src="js/jquery-ui.min.js" type="text/javascript"></script>
    <script src="js/AdminLTE/app.js" type="text/javascript"></script>
    <script src="jAlert/jquery.alerts.js" type="text/javascript"></script>
    <script src="js/jquery.ui.draggable.js" type="text/javascript"></script>

    <script src="js/plugins/datatables/jquery.dataTables.js"></script>
    <script src="js/plugins/datatables/dataTables.bootstrap.js"></script>
    <script src="js/logout.js"></script>
    <asp:ContentPlaceHolder ID="footer" runat="server"></asp:ContentPlaceHolder>

</body>
</html>